.no-img {
  width: 203px;
  height: 175px;
}
.no-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
}
.op {
  margin-bottom: 15px !important;
}
.cart-main {
  min-height: 65vh;
  padding: 20px;
}
.order-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #3e4c59;
}
.scroll {
  overflow-y: scroll;
}
.cart-price {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffa412;
}
.no-para {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #64748b;
}
.no-head {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  color: #1e293b;
}
.no-button {
  background-color: #f7931e;
  outline: none;
  border: none;
  width: 93px;
  height: 32px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.payment {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment-img {
  width: 38.4px;
  height: 38.4px;
}

.payment-head {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #1e293b;
}
.order-div {
  display: flex;
  justify-content: flex-end;
}
.order-button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #f7931e;
  color: white;
  width: 99px;
  height: 32px;
  font-weight: 500;
  margin-bottom: 10px;
}
.payment-button {
  width: (131px);
  height: (32px);
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #f7931e;
  color: white;
}
.payment-body {
  margin-top: 0px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #64748b;
}

@media (min-width: 500px) {
  .payment-body {
    font-size: 14px;
  }
  .payment-img {
    width: 64px;
    height: 64px;
  }
  .payment-head {
    font-size: 24px;
  }
  .no-img {
    width: 425px;
    height: 367px;
  }
  .no-para {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #64748b;
  }
  .no-head {
    font-family: DM Sans;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    color: #1e293b;
  }
}
